<!DOCTYPE html>
<html>

    <head>
        <title>Bandwidth Monitor</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/bower_components/angular-material/themes/orange-theme.css">
        <link rel="stylesheet" href="/bower_components/angular-material/themes/grey-theme.css">
    	<meta name="apple-mobile-web-app-capable" content="yes" />
    	<meta name="apple-mobile-web-app-status-bar-style" content="default"/>

        <script src="/bower_components/hammerjs/hammer.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="/bower_components/lodash/dist/lodash.min.js"></script>
        <script src="/bower_components/firebase/firebase.js"></script>
        <script src="/bower_components/firebase-simple-login/firebase-simple-login.js"></script>

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>

        <script src="app.js"></script>


    </head>

    <body ng-app="app" ng-controller="test" layout="horizontal">

        <div layout layout-fill layout-align="center center" ng-if="auth===false">
            <md-button ng-click="loginObj.$login('google')">
                Login
            </md-button>
        </div>    

        <div layout="vertical" layout-fill md-theme="grey" ng-if="auth===true">

            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Bandwidth Monitor</span>

                    <span flex></span>
                    
                    <md-button ng-click="loginObj.$logout()">
                        Logout
                    </md-button>                    
                </div>
            </md-toolbar>

            <md-content>

                <div layout="vertical" layout-sm="horizontal" layout-padding>
                    <div flex ng-repeat="period in periods">
                        <md-whiteframe class="md-whiteframe-z1"  layout="horizontal" layout-sm="vertical" layout-md="horizontal" layout-padding layout-align="center center">
                            <div flex>
                                <h3>{{period[0]}}:</h3>
                            </div>
                            <div style="text-align: right;">
                                In: {{period[1].inOctets/1024/1024 | number:2}}Mb<br>
                                Out: {{period[1].outOctets/1024/1024 | number:2}}Mb
                            </div>
                        </md-whiteframe>
                    </div>
                </div>

                <div layout="vertical" layout-md="horizontal" layout-padding>

                    <div flex-md="30">
                        <md-subheader md-theme="grey">Today</md-subheader>
                        <md-list>
                            <md-item ng-repeat="hour in byHour | orderBy:'-$id' | limitTo:10">
                                <md-item-content>
                                    <div class="md-tile-content">
                                        <div layout="horizontal">
                                            <div flex>
                                                <h3>{{hour.$id | date:'HH:mm'}}</h3>
                                            </div>
                                            <div style="text-align: right;">
                                                <strong>In: </strong>{{hour.inOctets/1024/1024 | number:2}}<br>
                                                <strong>Out: </strong>{{hour.outOctets/1024/1024 | number:2}}<br>
                                            </div>
                                        </div>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
    
                    <div flex-md="30" offset-md="5">
                        <md-subheader>Last 10 minutes</md-subheader>
                        <md-list>
                            <md-item ng-repeat="minute in lastTen | orderBy:'-time' | limitTo:10">
                                <md-item-content>
                                    <div class="md-tile-content">
                                        <div layout="horizontal">
                                            <div flex>
                                                <h3>{{minute.time | date:'HH:mm'}}</h3>
                                            </div>
                                            <div style="text-align: right;">
                                                <strong>In: </strong>{{minute.inOctet/1024/1024 | number:2}}<br>
                                                <strong>Out: </strong>{{minute.outOctet/1024/1024 | number:2}}<br>
                                            </div>
                                        </div>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>

                    <div flex-md="30"  offset-md="5">
                        <md-subheader>Bandwidth/s</md-subheader>
                        <md-list>
                            <md-item ng-repeat="item in lastTenRaw | orderBy:'-time' | limitTo:10">
                                <md-item-content>
                                    <div class="md-tile-content">
                                        <div layout="horizontal">
                                            <div flex>
                                                <h3>{{item.time | date:'HH:mm:ss'}}</h3>
                                            </div>
                                            <div style="text-align: right;">
                                                <strong>In: </strong>{{item.inOctetsDelta*8/(item.timeDelta/1000)/1000000 | number:2}}<br>
                                                <strong>Out: </strong>{{item.outOctetsDelta*8/(item.timeDelta/1000)/1000000 | number:2}}<br>
                                            </div>
                                        </div>
                                    </div>
                                </md-item-content>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>



                </div>



                
            </md-content>

        </div>

    </body>
</html>